.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 100;
  background: rgba(48, 9, 97, 0.3);
  backdrop-filter: blur(5px);

  z-index: 1000;
}
.myModalContent {
  padding: 30px;
  background: linear-gradient(
    to top right,
    #1d2532 15%,
    rgba(50, 62, 81, 0.99) 55%,
    rgba(50, 78, 58, 0.99) 75%,
    rgba(84, 95, 57, 0.95) 100%
  );

  border-radius: 16px;
  width: 670px;
  height: 425px;
  position: relative;

  .myModal__outline {
    position: absolute;
    top: 34px;
    left: 585px;
  }
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myModalText {
  width: 460px;
  height: 122px;
  padding-left: 70px;

  .myModal__title {
    width: 455px;
    height: 47px;
    font-weight: 700;
    font-size: 45px;
    line-height: 47.25px;
    letter-spacing: -3%;
  }
  .myModal__text {
    width: 460px;
    height: 50px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25.2px;
    color: #ffffff;
  }
}

.formsStyle {
  width: 471px;
  height: 122px;
  padding-top: 50px;
  padding-left: 63px;
  .form__input {
    width: 471px;
    height: 52px;
    border-radius: 10px;
    padding: 15px, 268px, 15px, 20px;
    background: #ffffff;
    margin-bottom: 20px;
    border: none;
  }

  .form__btn {
    transition: box-shadow 0.3s, cursor 0.3s;
    width: 481px;
    height: 52px;
    border-radius: 10px;
    padding: 15px 145px;
    background: linear-gradient(to right, #1dd844, #cbf62e);
    box-shadow: 0 0 10px rgba(29, 216, 68, 0.5),
      0 0 10px rgba(203, 246, 46, 0.5);
    border: none;
  }

  .form__btn:hover {
    box-shadow: 0 0 20px rgba(203, 246, 46, 0.8);
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 100;
    background: rgba(48, 9, 97, 0.3);
    backdrop-filter: blur(5px);
    margin: 0 auto;
    z-index: 1000;
 
    
  }
  .myModalContent {
    background: linear-gradient(
      to top right,
      #1d2532 15%,
      rgba(50, 62, 81, 0.99) 55%,
      rgba(50, 78, 58, 0.99) 75%,
      rgba(84, 95, 57, 0.95) 100%
    );

    border-radius: 16px;
    width: 320px;
    height: 337px;
    position: relative;
    align-items: center;
    

    .myModal__outline {
      position: absolute;
      top: 40px;
      left: 300px;
    }
  }

  .myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .myModalText {
    width: 273px;
    height: 111px;
    padding-left: 16px;

    .myModal__title {
      width: 268px;
      height: 30px;
      font-weight: 700;
      font-size: 23px;
      line-height: 29.9px;
    }
    .myModal__text {
      width: 273px;
      height: 66px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21.6px;
      color: #ffffff;
    }
  }

  .formsStyle {
    width: 288px;
    height: 115px;
    padding-top: 50px;
    padding-left: 16px;
    .form__input {
      width: 288px;
      height: 49px;
      border-radius: 10px;
      padding: 15px, 128px, 15px, 16px;
      background: #ffffff;
      margin-bottom: 20px;
      border: none;
    }

    .form__btn {
      transition: box-shadow 0.3s, cursor 0.3s;
      width: 288px;
      height: 49px;
      border-radius: 10px;
      padding: 15px 145px;
      background: linear-gradient(to right, #1dd844, #cbf62e);
      box-shadow: 0 0 10px rgba(29, 216, 68, 0.5),
        0 0 10px rgba(203, 246, 46, 0.5);
      border: none;
      text-align: center;
      display: flex; /* Добавлено */
      align-items: center; /* Добавлено */
      justify-content: center; /* Добавлено */
    }

    .form__btn:hover {
      box-shadow: 0 0 20px rgba(203, 246, 46, 0.8);
      cursor: pointer;
    }
  }
}
