@import "~normalize.css/normalize";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: serif;
  width: 100%;
  color: white;
  height: 2518px;
  // overflow: hidden;
}

.page {
  background-color: #1d2532;
  height: 1030px;
  position: relative;

  .header__elipse {
    position: absolute;
    width: 414.9px;
    height: 414.9px;
    top: -50px;
    left: 30px;
  }
}

.header__container {
  width: 1280px;
  height: 55px;
  padding-top: 30px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;

  .header__logo {
    display: flex;
    align-items: center;
    z-index: 1;

    .header__name {
      font-size: 28px;
      margin-left: 15px;
    }
  }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 736px;
    height: 51px;

    .header__link1 {
      width: 92px;
      height: 28px;
      font-weight: 400;
      font-size: 23px;
      line-height: 27.6px;
      color: #cecece;
      text-decoration: none;
    }
    .header__link1:hover {
      color: #c3f33b;
      cursor: pointer;
    }
    .header__link2 {
      width: 214px;
      height: 28px;
      font-weight: 400;
      font-size: 23px;
      line-height: 27.6px;
      color: #cecece;
      text-decoration: none;
    }
    .header__link2:hover {
      color: #c3f33b;
      cursor: pointer;
    }
    .header__btn {
      width: 175px;
      height: 51px;
      border-radius: 15px;
      border: 1px solid #ffffff;
      padding: 16px 22px;
      background-color: #1d2532;
      color: white;
      transition: border-color 0.3s, background-color 0.3s;
    }

    .header__btn:hover,
    .header__btn.active {
      border-color: #c3f33b;
      color: #c3f33b;
      background-color: #36393c;
      background-size: 105% 105%;
      background-position: center;
      background-image: radial-gradient(
        circle,
        transparent 94%,
        rgba(0, 0, 0, 0.1) 65%
      );
      cursor: pointer;
    }
  }
}

.main__container {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 300px;

  .main {
    display: flex;
    position: relative;
  }
  .main__content {
    position: relative;
    width: 717px;

    .image__el {
      position: absolute;
      margin-top: 130px;
      margin-left: 420px;
    }
    .image__light2 {
      position: absolute;
      margin-top: -50px;
      margin-left: 300px;
    }
  }
  .main__title {
    margin-top: 200px;
    font-weight: 400;
    font-size: 72px;
  }
  .main__text {
    width: 499px;
    height: 63px;
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
    color: #cecece;
  }
  .main__btn {
    margin-top: 50px;
    width: 331px;
    height: 66px;
    border-radius: 20px;
    padding: 20px 30px;
    background: linear-gradient(to right, #1dd844 0%, #cbf62e 100%);
    border: none;
    color: black;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    transition: box-shadow 0.3s, cursor 0.3s;
  }

  .main__btn:hover {
    box-shadow: 0 0 20px rgba(203, 246, 46, 0.8); /* Увеличиваем радиус размытия и насыщенность цвета */
    cursor: pointer;
  }
}

.main__images {
  position: relative;

  .image__elipse {
    position: absolute;
    margin-top: 80px;
    z-index: 10;
    margin-left: -160px;
  }
  .image__piggy {
    position: absolute;
    margin-top: 250px;
    z-index: 20;
  }
  .image__man {
    position: absolute;
    margin-left: -50px;
    margin-top: 130px;
    z-index: 30;
  }

  .image__smyle {
    position: absolute;
    margin-left: 100px;
    margin-top: 150px;
    z-index: 40;
  }
  .image__money {
    position: absolute;
    z-index: 50;
    margin-top: 380px;
    margin-left: 350px;
  }
  .image__light1 {
    position: absolute;
    margin-left: 400px;
    margin-top: 150px;
  }
}

.benefits {
  width: 100%;
  padding-top: 100px;
  position: relative;

  .benefits__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1284px;
    height: 1093px;
    background: #1d2532;
    border-radius: 20px;
    margin: 0 auto;
    padding: 115px;
    margin-bottom: 100px;

    .benefits__image--27 {
      position: absolute;
      width: 440.01px;
      height: 440.01px;
      top: 880px;
      left: 2px;
    }
    .benefits__image--223 {
      position: absolute;
      width: 440.01px;
      height: 440.01px;
      top: 1px;
      left: 1074px;
    }
    .benefits__image--126 {
      position: absolute;
      top: 100px;
      left: 250px;
    }
    .benefits__image--266 {
      margin-top: 0px;
      position: absolute;
      top: -90px;
      left: 1200px;
    }
    .benefits__image--125 {
      position: absolute;
      top: 800px;
      left: 1100px;
    }

    .benefits__title {
      width: 596px;
      font-weight: 600;
      font-size: 45px;
      line-height: 58.5px;
      color: #ffffff;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      z-index: 60;
    }
    .benefits__cards {
      width: 650px;
      height: 710px;
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;

      .cards__wrapper {
        position: relative;
        width: 300px;
        height: 310px;
        border-radius: 20px;
        background-color: #333e51b2;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        z-index: 200;

        .benefits-card {
          position: relative;
          width: 300px;
          height: 310px;
          border-radius: 20px;
          background-color: #333e51;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0;
          z-index: 200;

          .card__img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
          }

          .benefits__text1 {
            width: 236px;
            height: 75px;
            font-weight: 400;
            font-size: 19px;
            line-height: 25px;
            letter-spacing: -0.7;
            align-items: center;
            color: #ffffff;
            margin: 0 auto;
            text-align: center;
          }
          .benefits__text2 {
            width: 236px;
            height: 50px;
            font-weight: 400;
            font-size: 19px;
            line-height: 25px;
            letter-spacing: -0.7;
            align-items: center;
            color: #ffffff;
            margin: 0 auto;
            text-align: center;
          }
          .benefits__text3 {
            width: 260px;
            height: 75px;
            font-weight: 400;
            font-size: 19px;
            line-height: 25px;
            letter-spacing: -0.7;
            align-items: center;
            color: #ffffff;
            margin: 0 auto;
            text-align: center;
          }
          .benefits__text4 {
            width: 236px;
            height: 51px;
            font-weight: 400;
            font-size: 19px;
            line-height: 25px;
            letter-spacing: -0.7;
            align-items: center;
            color: #ffffff;
            margin: 0 auto;
            text-align: center;
          }
        }
      }
    }
  }
}

.benefits__shadows {
  position: absolute;
  top: 60px;
  left: 20px;
  width: 260px;
  height: 268px;
  border-radius: 20px;
  background-color: rgba(51, 62, 81, 0.6);
  z-index: 1;
}
